* {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}
* a:link:hover {
  text-decoration: none;
}
.btn-primary {
  background-color: transparent !important;
  border: 0px solid aquamarine !important;
}
.btn-primary:hover {
  color: darkslategrey !important;
}
.btn:focus {
  box-shadow: none !important;
}
